<!DOCTYPE html>
<html>
    <head>
        <title>My Chat App</title>
    </head>
    <body>
        <h1>My Chat App</h1>
        <form action="/chat">
            <div>
                <label>Enter your username:</label>
                <input type="text" name="username">
            </div>
            <div>
                <label>Enter your roomid:</label>
                <input type="text" name="room">
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>